@CHARSET "UTF-8";

/* Main Page Div containing content */
.content-container{
	display: block;
	width: 100%;
	flex: 1 1 auto;
	background-color: aliceblue;
}

/* Title Text in Header */
.header-title{
	display: inline-block;
	text-shadow: 3px 3px 5px gray;
	margin-left: 60px;
	margin-top: 0px;
}

/* Applying part of the style to h1 tag */
.header-title > h1{
	margin-top: 0px;
}

/* Logo Div */
.logo{
	display: inline-block;
	background-color: aqua;
	margin-top: 5px;
	margin-left: 10px;
	border: solid 1px gray;
	border-radius: 10px;
	box-shadow: 2px 2px 5px gray;
}

/* Div in Header for User Status/Login/Logout/Etc */
.user-status{
	display: inline-block;
	margin-top: 5px;
	margin-right: 60px;
	margin-left: 150px;
	vertical-align: top;
}

/* Wrapper Div for applying flexbox layout to whole page */
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

/* WELCOME PAGE */

/* Footer style for welcome page */
.footer-welcome{
	background-color: orange;
	color: black;
}

/* Header Style for welcome page */
.header-welcome{
	
	background-color: orange;
	color: black;
}

/* LOGIN PAGE */

/* Footer style for login page */
.footer-login{
	background-color: coral;
	color: black;
}

/* Header Style for login page */
.header-login{
	background-color: coral;
	color: black;
}

/* Login Input Button */
.login-btn{
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Login Tab Content */
.login-tab-content{
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: "Times New Roman", Times, Serif;
}

/* Instructions header for the login screen */
#login-instruction{
	text-align: center;
	margin-top: 150px;
	font-family: "Times New Roman", Times, Serif;
}

/* Login Tabs */
#login-tabs{
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	width: 500px;
	background-color: mintcream;
	box-shadow: 3px 3px 5px gray;
}

/* ALL ADMIN PAGES */

/* Header for admin pages */
.header-admin{
	background-color: dodgerblue;
	color: black;
}

/* Footer for admin pages */
.footer-admin{
	background-color: dodgerblue;
	color: black;
}

/* Logout Button */
#logout-btn{
	color: black;
	border: solid 1px black;
	padding-top: 7px;
	padding-bottom: 7px;
}

/* Logout Button, when you hover over it */
#logout-btn:hover{
	color: blue;
	border: solid 1px blue;
}

/* ADMIN MAIN PAGE */

/* Main Menu div */
#admin-menu{
	margin: 0 auto;
	margin-top: 100px;
	width: 500px;
	text-align: center;
	border: solid 1px lightgray;
	box-shadow: 3px 3px 5px gray;
}

/* A button in the Main Menu */
.options-button{
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 15px;
	border: outset 3px lightgray;
	width: 200px;
	font-size: 18px;
	background-color: white;
}

/* Hovering over A button in the Main Menu */
.options-button:hover{
	background-color: aqua;
}
/* Active button in the Main Menu */
.options-button:active{
	background-color: yellow;
	border: inset 3px lightgray;
}

/* ADMIN COURSE PAGE */

/* Drop shadow for buttons */
.btn-shadow{
	box-shadow: 3px 3px 5px gray;	
}



/* Table where all courses are displayed */
#courses-table{
	border: solid 1px lightgray;
	box-shadow: 3px 3px 5px gray;
}

/* The Div holding the courses table and buttons */
#courses-table-div{
	width: 800px;
	margin: 0 auto;
	margin-top: 100px;
}

/* Caption for the courses table */
#courses-table-caption{
	text-align: center;
	font-size: 25px;
	color: black;
	text-shadow: 2px 2px 5px gray;
}

#courses-table-header{
	background-color: dodgerblue;
}

#select-radio{
	text-align: center;
}

#page-btns{
	float: right;
}