@CHARSET "UTF-8";

/*********
* HEADER *
**********/

/* Set the color of the welcome page header */
.header-welcome{
	background-color: coral;
}

/* The header text for the welcome page */
.header-welcome-text{
	font-family: 'Coda', cursive;
	color: white;
	font-size: 18px;
}

/* The foreground color of the header buttons for welcome page */
.nav > li > a.header-welcome-text{
	color: white;
}

/* The hover color of header buttons for welcome page */
.nav > li:hover > a.header-welcome-text{
	background-color: #FFA483;
}

/* The focus color of the header buttons for welcome page */
.nav > li > a.header-welcome-text:focus{
	color: white;
}

/* Style the dropdown menus */
.navbar-default .navbar-nav .open .dropdown-menu> li> a,
.navbar-default .navbar-nav .open .dropdown-menu {
  	background-color: #FFA483;
    color: black;
    font-family: "Times New Roman", Times, Serif;
    font-size: 16px;
}

/* The hover highlight for items in the dropdown menus in the header */
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
	background-color: coral;
	color: white;
}


/***************
* PAGE CONTENT *
****************/



/* The building image on the page */
#building-img{
	height: 600px;
	width: 100%;
}



/* The background image for the welcome page */
.welcome-background-img{
	position: absolute;
	z-index: -1;
	opacity: 0.5;
}

/* The students background image */
#student-background{
	width: 100%;
	height: 656px;
}

/* Welcome page banner text */
.welcome-banner{
	text-align: center;
	font-family: 'Limelight', cursive;
}

/* The body of the welcome page */
#welcome-body{
	background-color: #FFCAB6;
}

.welcome-content{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

/* Style for the details text for the welcome page */
.welcome-details{
	text-align: center;
	font-family: "Times New Roman", Times, Serif;
}

/* The smaller images on the welcome page */
.welcome-img{
	margin: 0 auto;
	width: 80%;
}

/* Background color of the title row of welcome page */
#welcome-title-row{
	background-color: #FFA483;
}